APP_DEBUG=false

DB_HOST=localhost
DB_USER=root
DB_PASS=
DB_NAME=gymnsb

SMS_USERNAME=
SMS_PASSWORD=
SMS_SENDER_ID=M*AGYM
SMS_TOKEN_URL=https://smsapi.hormuud.com/token
SMS_SEND_URL=https://smsapi.hormuud.com/api/SendSMS

WA_INSTANCE_ID=
WA_TOKEN=
WA_API_URL=https://api.ultramsg.com/

ADMIN_ALERT_PHONE=
